.container-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* min-height: 70vh; */
    gap: 20px;
}


.title {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.linha {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 50px;
    background-color: #79132a;
}

.card_tipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    display: flex;
    z-index: 1;
    min-height: 250px;
    height: fit-content;
    width: 30%;
    background-color: #79132a;
    border-radius: 10px;
    gap: 20px;
}

.titulo_card_inicio {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;


}

.atencao {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    font-size: 1.9rem;

}

p {
    display: flex;
    text-align: center;
    width: 80%;
    font-size: 1rem;
}

h2 {
    font-size: 1.3rem;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.input-nome {
    color: #000;
    font-weight: 600;
    border: none;
    background-color: rgba(175, 174, 174, 0.377);
    border-radius: 10px;
    display: flex;
    height: 30px;
    width: 18%;
}

.button_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: #b82143;
    height: 30px;
    width: 18%;
}

@media (max-width :768px) {
    .container-quiz {
        height: 90%;
    }

    .title {
        font-size: 1rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    .linha {
        display: none;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .info {
        gap: 10 px;
    }

    .input-nome {
        width: 70%;
    }

    .button_inicio {
        width: 70%;
    }

    .card_tipo {
        width: 80%;
        height: 30%;
    }
}