.page__recreacao {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.recreacao__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #009d78;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
}

.video {
  height: fit-content;
  width: 100vw;
}

.video > iframe {
  width: 33vw;
  height: 300px;
}

.glider-dot.active {
  background-color: #009d78;
}

.prev,
.next {
  background-color: #009d78;
  color: #fff;
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 24px;
}

.carrousel {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  gap: 16px;
}

.video__container {
  /* position: absolute; */
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
}

.cultura {
  width: 100%;
  height: fit-content;
  padding: 32px;
}

.cultural__estado {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: #f2f2f2;
}

.recreacao__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px 32px 16px;
}

.cultural__container {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: #f2f2f2;
}

.estado {
  height: 100vh;
  background-image: url('../../img/acre.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.cultural__quiz {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: #f2f2f2;
}

.cultural__title {
  margin-top: 32px;
  font-size: 1.5rem;
  color: #009d78;
  font-weight: 800;
  padding-left: 32px;
}

.cultural__quiz__texts {
  width: 50%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1e1e1e;
  gap: 32px;
}

.citacao {
  display: flex;
  flex-direction: column;
}

.quiz__description__name {
  font-size: 1.5rem;
  font-weight: 800;
}

.quiz__title {
  font-size: 4.5rem;
  font-weight: 800;
}
.quiz__description {
  font-size: 1.5rem;
  font-weight: 300;
}

.quiz__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  background-color: #009d78;
  width: 200px;
  height: 40px;
  border-radius: 24px;
}

@media (max-width: 768px) {
  .video {
    width: 100%;
    height: fit-content;
  }

  .video > iframe {
    width: 100vw;
    height: fit-content;
  }
  .cultural__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 80%;
    height: fit-content;
  }

  .estado {
    width: 100%;
    background-size: contain;
    height: auto;
  }

  .cultural__quiz__texts {
    width: 100%;
  }

  .quiz__title {
    font-size: 3rem;
  }
  .cultural__quiz {
    flex-direction: column;
    padding: 24px;
  }
}
