.page__recreacao {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.recreacao__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #009d78;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
}

.video {
  height: fit-content;
  width: 100vw;
}

.video > iframe {
  width: 33vw;
  height: 300px;
}

.glider-dot.active {
  background-color: #009d78;
}

.prev,
.next {
  background-color: #009d78;
  color: #fff;
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 24px;
}

.carrousel {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  gap: 16px;
}

.video__container {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
}

.recreacao__videos {
  padding-top: 64px;
}

.cultura {
  width: 100%;
  height: fit-content;
  padding: 32px;
}

.cultural__container {
  display: flex;
  width: 100%;
  height: fit-content;
  border-radius: 32px;
  background-color: #f2f2f2;
}

.estado {
  /* width: auto; */
  height: 100vh;
  background-image: url('../../img/acre.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .video > iframe {
    width: 100vw !important;
    height: fit-content;
  }
  .cultural__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 80%;
    height: fit-content;
  }

  .estado {
    width: 100%;
    background-size: contain;
    height: auto;
  }
}
